<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unito.di.taass.helpin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:process="it.uniba.di.sms.sitterapp"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="it.unito.di.taass.helpin.DemoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.unito.di.taass.helpin.principale.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="it.unito.di.taass.helpin.principale.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="it.unito.di.taass.helpin.registrazione.RegistrationActivity"
            android:label="@string/registrazione"
            android:parentActivityName="it.unito.di.taass.helpin.principale.LoginActivity" />
        <activity
            android:name="it.unito.di.taass.helpin.profilo.ProfiloPrivatoActivity"
            android:screenOrientation="portrait"
            android:label="@string/profilo"
            android:parentActivityName="it.unito.di.taass.helpin.principale.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="it.unito.di.taass.helpin.principale.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="it.unito.di.taass.helpin.appuntamenti.IngaggiActivity"
            android:screenOrientation="portrait"
            android:label="@string/engagements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="it.unito.di.taass.helpin.profilo.ProfiloPubblicoActivity"
            android:screenOrientation="portrait"
            android:label="@string/profilo" />
        <activity
            android:name="it.unito.di.taass.helpin.recensioni.RecensioniActivity"
            android:screenOrientation="portrait"
            android:label="@string/feedback"
            android:parentActivityName="it.unito.di.taass.helpin.principale.HomeActivity" />
        <activity
            android:name="it.unito.di.taass.helpin.scriviRecensione.ListaIngaggiSvoltiActivity"
            android:screenOrientation="portrait"
            android:label="@string/scrivi_recensione"
            android:parentActivityName="it.unito.di.taass.helpin.principale.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="it.unito.di.taass.helpin.scriviRecensione.ScriviRecensioneActivity"
            android:screenOrientation="portrait"
            android:label="@string/feedback"
            android:parentActivityName="it.unito.di.taass.helpin.scriviRecensione.ListaIngaggiSvoltiActivity" />
        <activity
            android:name="it.unito.di.taass.helpin.principale.NewNoticeActivity"
            android:screenOrientation="portrait"
            android:label="@string/nuovoAnnuncio"
            android:parentActivityName="it.unito.di.taass.helpin.appuntamenti.IngaggiActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="it.unito.di.taass.helpin.recensioni.RecensioniPubblicoActivity"
            android:screenOrientation="portrait"
            android:label="@string/feedback" />
        <activity
            android:name="it.unito.di.taass.helpin.appuntamenti.candidati"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>